<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Item Purchase Select</title>
  </head>
  <body>
    
    <h1>Enter the item you wish to purchase below.</h1>
    
    <form /action="/checkout" method="POST">
      <label for="item">Item:</label>
      <input type="text" name="item">
      <input type="submit" id="submit">
    </form>
    
  </body>
</html>
